Config 
    { font = "xft:FiraCode:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:FontAwesome:pixelsize=12:antialias=true:hinting=true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#15133C"
       , fgColor = "white"
       , alpha = 255
       , position = Bottom
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                    -- Run Weather "EGPF" ["-t","<station>: <tempC>C",
                    --                     "-L","18","-H","25",
                    --                     "--normal","green",
                    --                     "--high","red",
                    --                     "--low","lightblue"] 36000
                    -- , Run Network "eth0" ["-L","0","-H","32",
                    --                       "--normal","green","--high","red"] 10
                    -- , Run Network "eth1" ["-L","0","-H","32",
                    --                      "--normal","green","--high","red"] 10
                    Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    -- , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%A %b %d %I:%M:%S %p" "date" 10
                    
                    , Run Com "echo" ["<fn=0></fn>"] "bell" 3600

                    , Run Volume "default" "Master" [ ] 1

                    , Run BatteryP ["BAT0"]
                        ["-t", "<acstatus>"
                        , "-L", "10", "-H", "80"
                        , "-l", "red", "-h", "green"
                        , "--", "-O", "<fn=1>\xe0b8</fn> <left>%", "-o", "<fn=1>\xf583</fn> <left>%"
                        ] 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% | %battery% | %default:Master%" 
       }
