Config 
    { font = "xft:FiraCode:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:FontAwesome:pixelsize=12:antialias=true:hinting=true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#15133C"
       , fgColor = "white"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                    Run Com "uname" ["-s","-r"] "" 36000
                   , Run Date "%A %b %d %I:%M:%S %p" "date" 10
                   , Run Com "echo" ["<fn=0></fn>"] "bell" 3600
                   , Run UnsafeStdinReader 
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%UnsafeStdinReader% }\
                    \{ <fc=#ee9a00>%date%</fc> | %uname%"
       }
